html {
  font-size: 10px;
  background: url("https://img.freepik.com/free-vector/musical-notes-pattern-black-background_1017-32303.jpg?semt=ais_user_personalization&w=740&q=80")
    bottom center;
  background-size: cover;
}

body,
html {
  margin-top: 80px;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  height: 20;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.06s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
.upperRow,
.midRow,
.lowerRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}
